@model IEnumerable<EChallan1.Web.Models.ChallanDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Challan Details</h1>

<p>
   @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Challan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challan.ChallanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.PaymentStatus)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.CDID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.CDID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.CDID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
