@model IEnumerable<EChallan1.Web.Models.Challan>

@{
    ViewData["Title"] = "Index1";
}

<h1>Index</h1>

<p>
   @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChallanNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChallanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue.IssueDescription)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ChallanID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.ChallanID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.ChallanID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
